<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
    </head>
    <body>
        <ul>
            <p><a href="../index.html">На главную</a></p>
            <li><a href="./promise/01-task.html">Подзадание 1</a></li>
            <li><a href="./promise/02-task.html">Подзадание 2</a></li>
            <li><a href="./promise/03-task.html">Подзадание 3</a></li>
        </ul>
    </body>
</html>
